<!-- <app-product-bar-charts></app-product-bar-charts> -->
<!-- <app-product-pie-charts></app-product-pie-charts>
<app-product-area-line-charts></app-product-area-line-charts>
<app-bubble-chart></app-bubble-chart>
<app-gauge-chart></app-gauge-chart>
<app-heat-map-chart></app-heat-map-chart>
<app-linear-gauge-chart></app-linear-gauge-chart>
<app-number-card-chart></app-number-card-chart>
<app-polar-radar-chart></app-polar-radar-chart>
<app-tree-map-chart></app-tree-map-chart> -->


<table>
    <tr>
        <td>
            <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="chartData" [xAxis]="showXAxis"
                [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
            </ngx-charts-line-chart>
        </td>
    </tr>
</table>